<header>
  <div class="container">
    <div class="container__logo">
      <a>
        <img [src]="content.logo" alt="">
      </a>

      <nav class="container__nav">
        <button>
          <p>{{ content.navigationMenu.jogos.nameNavigation }}</p>
        </button>
        <button>
          <p>{{ content.navigationMenu.esportes.nameNavigation }}</p>
        </button>
        <a>{{ content.navigationMenu.loja }}</a>
        <a>{{ content.navigationMenu.noticias }}</a>
        <a>{{ content.navigationMenu.suporte }}</a>
      </nav>
    </div>
    <div class="container__menu">
      <div class="container__menu--nav">
        <app-button [sizeButton]="'button-criar-conta'" class="button">{{ content.criarConta.description }}</app-button>
        <app-button [sizeButton]="'button-login'" class="button" (click)="loginModal(teste)">{{ content.login.description }}</app-button>
        <div class="container__menu-hamburger">
          <input type="checkbox" id="checkbox">

          <label for="checkbox">
            <span class="container__menu-hamburger--pointer"></span>
            <span class="container__menu-hamburger--pointer"></span>
            <span class="container__menu-hamburger--pointer"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</header>
<app-modal-login #teste></app-modal-login>
