<section class="container">
  <header class="content">
      <div class="content__text">
        <p>GAMES</p>
        <h2>Jogos exclusivos</h2>
      </div>
      <div class="content__container">
        <div class="content__plataforma" *ngIf="!sumiu">
          <button>
            <img src="/assets/jogo-container/battle.svg" alt="">
          </button>
          <button>
            <img src="/assets/jogo-container/nitendo.svg" alt="">
          </button>
          <button>
            <img src="/assets/jogo-container/xbox.svg" alt="">
          </button>
          <button>
            <img src="/assets/jogo-container/playstation.svg" alt="">
          </button>
        </div>
        <a>
          <img src="/assets/jogo-container/more.svg" alt="">
          Ver todos jogos
        </a>
      </div>
  </header>
  <div class="container-image">
    <div *ngFor="let jogo of jogoList">
      <div class="container-image__list" >
        <img [src]="jogo.image" alt="" class="container-image__list--image">
        <img [src]="jogo.logo" alt="" class="container-image__list--logo">
      </div>
      <p class="name-game">{{ jogo.name }}</p>
      <p class="category-game">{{ jogo.category }}</p>
    </div>
    <div class="container-image__ver-mais">
      <div>
        <img src="/assets/logo/logo-blizzard.png" alt="" class="logo">
        <a>
          <img src="/assets/jogo-container/more-game.svg" alt="">
          Ver todos jogos
        </a>
      </div>
    </div>
  </div>
</section>
