<section class="container">
  <div class="lista-games">
    <button>
      <img src="/assets/icons/game-1.png" alt="">
    </button>
    <button>
      <img src="/assets/icons/game-2.png" alt="">
    </button>
    <button>
      <img src="/assets/icons/game-3.png" alt="">
    </button>
  </div>
  <div class="content">
    <div class="content__text">
      <div>
        <h1>{{ teste1.title }}</h1>
        <p>{{ teste1.paragraph }}</p>
      </div>
      <app-button [sizeButton]="'button-md'">{{ teste1.buttonDiscription }}</app-button>
    </div>
    <div class="content-video">
      <img src="/assets/jogo-slide/diabloIV.png" alt="">
      <div class="video">
        <p *ngIf="sumiu">Assista o trailer</p>
        <div class="video__trailer">
          <img src="/assets/games/diablo-animation-cover.png" alt="">
          <!-- <img src="/assets/games/diablo-animation.gif" alt=""> -->
          <button>
            <img src="/assets/jogo-slide/play.svg" alt="">
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<mat-progress-bar color="'#00AEFF'" mode="determinate" [value]="nume | async" #teste></mat-progress-bar>
