<section class="container">
  <div class="lista-games">
    <button>
      <img src="/assets/icons/game-1.png" alt="">
    </button>
    <button>
      <img src="/assets/icons/game-2.png" alt="">
    </button>
    <button>
      <img src="/assets/icons/game-3.png" alt="">
    </button>
  </div>
  <div class="content">
    <div class="content__text">
      <div>
        <h1>Retorne à escuridão com o game Diablo IV</h1>
        <p>O retorno de Lilith traz uma era de escuridão e sofrimento</p>
      </div>
      <app-button [sizeButton]="'button-md'">Jogue agora</app-button>
    </div>
    <div class="content-video" *ngIf="!sumiu">
      <img src="/assets/jogo-slide/diabloIV.png" alt="">
      <div class="video">
        <p *ngIf="sumiu">Assista o trailer</p>
        <div class="video__trailer">
          <img src="/assets/games/diablo-animation-cover.png" alt="">
          <!-- <img src="/assets/games/diablo-animation.gif" alt=""> -->
          <button>
            <img src="/assets/jogo-slide/play.svg" alt="">
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
