<footer>
  <div class="container">
    <div class="content">
      <img [src]="content.logo" alt="" class="content__logo">
      <h2>{{ content.subtitle }}</h2>
      <div class="content__text">
        <div class="content__text--info" *ngFor="let info of content.info">
          <img [src]="info.icon" alt="">
          <p>{{ info.description }}</p>
        </div>
      </div>
      <button class="button-plataforma">
        <img [src]="content.button.imageButton" alt="">
        <span>{{ content.button.buttonDescription }}</span>
      </button>
      <p class="mobile">
        <img [src]="content.mobile.imageMobile" alt="">
        <span [innerHTML]="content.mobile.mobileDescription"></span>
      </p>
    </div>
  </div>
  <div class="image-footer">
    <img [src]="content.image.backgroundImage" alt="" class="image-footer__1">
    <img [src]="content.image.imageContainer" alt="" class="image-footer__2">
  </div>
</footer>
